$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1440px;

/*containers size*/
$container-max-widths: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

/*fonts*/

/*colors*/

// backgrounds

// theme 1
$primaryA: #232c43;
$screenA: #182034;

// keys

// theme 1
$keyBlue: #404e7290;
$keyBlueLight: #637097;
$danger: #d03f2f;
$dangerDark: #93261a;
$light: #eae3dc;
$grayish: #b4a59770;

// texts

// theme 1
$textA: #444b5a;
// $warning: #ffe53d;

$theme-colors: (
  'primaryA': $primaryA,
  'screenA': $screenA,
  'keyBlue': $keyBlue,
  'keyBlueLight': $keyBlueLight,
  'danger': $danger,
  'dangerDark': $dangerDark,
  'light': $light,
  'grayish': $grayish,
  'textA': $textA,
  // 'warning': $warning
);
